body {
    background: linear-gradient(to right, rgb(214, 229, 244), rgb(225, 233, 248));
    font-family: 'Segoe UI', sans-serif;
  }
  .calculator {
    background-color: rgb(247, 244, 244); 
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
  }
  button {
    font-size: 1.2rem;
    height: 60px;
    border-radius: 12px;
    transition: all 0.15s ease-in-out;
  }
  button:hover {
    opacity: 0.9;
    transform: scale(1.03);
  }
  #display {
    height: 60px;
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(180, 75, 75, 0.1);
    background-color: rgb(248, 249, 250); 
  }
  
  